<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body class="abs-center">
  
   
   
            <div id="login" class="center-block bg-light">
                <img class="card-img form-image" src="images/Logo.svg">
                <form>
                    <div class="form-group">
                      <label for="email">Username or Email</label>
                      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                      <label for="pass">Password</label>
                      <input type="password" class="form-control" id="pass">
                    </div>
                    <button type="button" class="btn btn-success btn-lg btn-block">Login</button>
                    <hr>
                    <button type="button" class="btn btn-danger btn-lg btn-block">Login with Google</button>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Login with Facebook</button>
                  
                  </form>
                  <br>
                  <div class="text-center">
                    <a href="">Forgot password?</a>
                    <br>
                    <br>
                    <a href="">Create an account</a> </div>
               
            </div>
        

  </body>