<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body class="abs-center">



    <div id='register' class="center-block bg-light">
        <img class="card-img" src="images/Logo.svg">
        <form>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input class="form-control" id="first-name">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input class="form-control" id="last-name">
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" id="username">
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" id="username">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" class="form-control" id="pass">
            </div>
            <div class="form-group">
                <label for="pass-confirm">Confirm Password</label>
                <input type="password" class="form-control" id="pass-confirm">
            </div>


            <button type="button" class="btn btn-success btn-lg btn-block">Register</button>
            <hr>
        </form>
        <br>
        <div class="text-center">
            <a href="">Login</a>
            <br>


        </div>


</body>